@import "semantic-ui";

.chatbox {
    height: 450px;
}

p {
    font-weight: lighter;
}

em {
    font-weight: bold;
}

#nav-icon {
    padding-top: 10px;
}

#messages {
    overflow: auto;
    height: 15em;
}

.input {
    button {
        display: none;
    }
}